<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileAppender" fileName="logs/application.log">
            <PatternLayout charset="UTF-8" pattern="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%logger{36}.class]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>